@keyframes animate90 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(60deg);
    }

    100% {
        transform: scale(1.2) rotate(90deg);
    }
}

@keyframes animate360 {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes heartbeat {
    0% {
            transform: scale(1);
        }
    
        10% {
            transform: scale(1.4);
        }
    
        50% {
            transform: scale(1);
        }
    
        100% {
            transform: scale(1);
        }
}