:root {
  --dark-body-theme: #303133;
  --light-body-theme: #fdfbf6;
  --primary-text-color: #000000;
  --secondary-text-color: #ff6b08;
  --body-light-color: #feeae0;
  --just-white: #ffffff;
  --primary-current-color: #FF001B;

  --modal-dark-them-bcg: #4b4d52;
  --modal-dark-them-text: #eaeaea;
  --modal-dark-them-text-acent: #c7acac;
  --modal-dark-them-acent: #ff6b019c;

  --backdrop-mobail-modal: #0000008f;
  --background-modal: #ffffff;
  --acent-modal: #ff6b01;
  --acent-modal-hover: #cf5600;
  --infofilm-paramt-text: #8c8c8c;
  --modal-light-text: #FFFFFF;
  --modal-darck-acent: #f7f7f7;
  --modal-darck-text: #000000;
  --modal-light-btn-bgr: #FFFFFF;
  --bisquit-color: bisque;
	--sun-color: #ffffff

}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}