:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ff6b08;

  --backdrop-mobail-modal: #0000008f;
  --background-modal: #ffffff;
  --acent-modal: #ff6b01;
  --acent-modal-hover: #cf5600;
  --infofilm-paramt-text: #8c8c8c;
  --modal-light-text: #FFFFFF;
  --modal-darck-acent: #f7f7f7;
  --modal-darck-text: #000000;
  --modal-light-btn-bgr: #FFFFFF;

}
