<section class="catalog section container">
  <ul class="poster-list">
    <li class="poster-list__item">
      <!-- <img src="./images/hollywood.jpg" alt="hollywood">
                <span class="poster-list__rate">7.3</span>
                <div class="poster-list__wrap">
                    <h3 class="poster-list__title">Once upon time in Hollywood</h3>
                <div class="poster-list__info">
                        <p class="poster-list__text">Action, Comedy |</p>
                        <p class="poster-list__age">2020</p>
                </div>  
                </div> -->
    </li>
  </ul>
  <img class="image-error visually-hidden" src='./images/404-error-page-examples-best.jpg' alt='Oops... 404' width="1280px"/>
  <a class="btn-to-top" title="Return to top">
    <svg class="icon-to-top">
      <use href="./images/sprite/symbol-defs.svg#icon-arrow-left2"></use>
    </svg>
  </a>
</section>
