<section class="catalog section">
    <ul class="poster-list">
        <li class="poster-list__item">   
            <img class="poster-list__img" scr="" alt="">
                <span class="poster-list__rate"></span>
                <div class="poster-list__wrap">
                    <h3 class="poster-list__title"></h3>
                <div class="poster-list__info">
                        <p class="poster-list__text">|</p>
                        <p class="poster-list__age"></p>
                </div>  
                </div>
        </li>
    </ul>
</section>