<header class="header">
    <section class="header__seaction_home">
        <div class="container">
            <div class="header__div">
                <a href="./index.html" class="header__logo">
                    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="#FF6B08" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> -->
                    <!-- <img width="14px" height="12.75px" src="./images/film.svg"> -->
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M7 2V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17 2V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M2 7H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M2 17H7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17 17H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17 7H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="header__name">Filmoteka</p>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link current-link" href="./index.html" id="header-home">HOME</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="./library.html" id="header-myLibrary">MY LIBRARY</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <form class="header__search-form" id="search-form">
                <input class="header__input" type="text" name="searchMovie" autocomplete="off" placeholder="Movie search" />
                <button type="button" class="header__search-button">
                    <svg class="icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z"
                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.5 10.5002L8.32495 8.3252" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </form>
        </div>
    </section>
</header>


