
<div class="container header-container">
    <div class="header-nav">
        <a href="./index.html" class="header-logo">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            <p class="header-name">Filmoteka</p>
        </a>
<nav>
</div>
    <ul class="header__list">
        <li class="header__item">
            <a class="header__link current-link" href="" id="header-home">HOME</a>
        </li>
            <li class="header__item">
                <a class="header__link" href="" id="header-myLibrary">MY LIBRARY</a>
            </li>
           <li class="header__item">
                <a class="header__link" href="" >PROFILE</a>
           </li>
    </ul>
 </nav>

 <form class="search-form" id="search-form">
    <input 
    class="search-form__input"
      type="text"
      name="searchMovie"
      autocomplete="off"
      placeholder="Movie search"
    />
   
    </button>
 </form>

    <button type="button" class="btn btn--current">Watched</button>
    <button type="button" class="btn">Watchedlist</button>
  </div>
</div>


