<header class="header">
    <section class="header__seaction_home">
        <div class="container">
            <div class="header__div">
                <a href="./index.html" class="header__logo">
                    <svg width="24" height="24">
                        <use href="./images/sprite/symbol-defs.svg#icon-logo-filmoteka"></use>
                    </svg>
                    <p class="header__name">Filmoteka</p>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link current-link" href="./index.html" id="header-home">HOME</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="./library.html" id="header-myLibrary">MY LIBRARY</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" id="header-myLibrary" data-modal-open>LOG IN</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <form class="header__search-form" id="search-form">
                <input class="header__input" type="text" name="searchMovie" autocomplete="off" placeholder="Movie search" />
                <button type="submit" class="header__search-button">
                    <svg width="12" height="12">
                        <use href="./images/sprite/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
                <p class="header-message visually-hidden">Search result not successful. Enter the correct movie name</p>
            </form>
        </div>
    </section>
</header>


