<header class="header">
  <section class="header__seaction_home">
    <h1 class="visually-hidden">home</h1>
    <h2 class="visually-hidden">header home</h2>
    <div class="header__container container">
      <div class="header__div">
        <a href="./index.html" class="header__logo">
          <svg class="header__icon_logo" width="24" height="24">
            <use
              href="./images/sprite/symbol-defs.svg#icon-logo-filmoteka"
            ></use>
          </svg>
          <p class="header__name">Filmoteka</p>
        </a>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item header-logOut">
              <a class="header__link" id="header-logOut">
                <svg class="header__nav_icon" width="10" height="10">
                  <use href="./images/sprite/symbol-defs.svg#icon-sad"></use>
                </svg>
                LOG OUT
              </a>
            </li>
            <li class="header__item header-logIn">
              <a class="header__link " id="header-logIn" data-modal-open>
                <svg class="header__nav_icon" width="10" height="10">
                  <use href="./images/sprite/symbol-defs.svg#icon-smile"></use>
                </svg>
                LOG IN</a>
            <li class="header__item">
              <a
                class="header__link current-link"
                href="./index.html"
                id="header-home"
                >
                <svg class="header__nav_icon" width="10" height="10">
                  <use href="./images/sprite/symbol-defs.svg#icon-home3"></use>
                </svg>
                HOME</a
              >
            </li>
            <li class="header__item">
              <a
                class="header__link"
                href="./library.html"
                id="header-myLibrary"
                >
                <svg class="header__nav_icon" width="10" height="10">
                  <use href="./images/sprite/symbol-defs.svg#icon-video-camera"></use>
                </svg>
                MY LIBRARY</a
              >
            </li>
          </ul>
        </nav>
      </div>
	<form class="header__search-form" id="search-form">
        <input
          class="header__input"
          type="text"
          name="searchMovie"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button type="submit" class="header__search-button">
          <svg class="header__search-icon" width="12" height="12">
            <use href="./images/sprite/symbol-defs.svg#icon-search"></use>
          </svg>
          <span class="visually-hidden">search</span>
        </button>
        <!-- <p class="header-message visually-hidden">
          Search result not successful. Enter the correct movie name
        </p> -->
      </form>
		<form class="filter_form" id="filter-form">
        <select class="filter_form__select" name="genreForm" id="genreForm">
          <option value="start">Genre</option>
          <option value="28">Action</option>
          <option value="12">Adventure</option>
          <option value="16">Animation</option>
          <option value="35">Comedy</option>
          <option value="80">Crime</option>
          <option value="99">Documentary</option>
          <option value="18">Drama</option>
          <option value="10751">Family</option>
          <option value="14">Fantasy</option>
          <option value="36">History</option>
          <option value="27">Horror</option>
          <option value="10402">Music</option>
          <option value="9648">Mystery</option>
          <option value="10749">Romance</option>
          <option value="878">Science Fiction</option>
          <option value="10770">TV Movie</option>
          <option value="53">Thriller</option>
          <option value="10752">War</option>
          <option value="37">Western</option>
        </select>

        <select class="filter_form__select" name="yearForm" id="yearForm">
          <option value="start">Year</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <!-- <option value="2004">2004</option>
          <option value="2003">2003</option>
          <option value="2002">2002</option>
          <option value="2001">2001</option>
          <option value="2000">2000</option> -->
        </select>

        <select class="filter_form__select" name="sortForm" id="sortForm">
          <option value="start">Sorting</option>
          <option value="popularity.desc">Popularity (decreasing)</option>
          <option value="popularity.asc">Popularity (increasing)</option>
          <option value="primary_release_date.desc">
            Release date (decreasing)
          </option>
          <option value="primary_release_date.asc">
            Release date (ascending)
          </option>
          <option value="original_title.asc">Name (A-Z)</option>
          <option value="original_title.desc">Name (Z-A)</option>
        </select>
        <button class="btnResetFilter" id="btnResetFilter" type="submit">
          reset
        </button>
      </form>
		</div>
		<div>
			<!-- hidden -->
		<button id="toggle-theme-btn"><span class="text_theme-btn">CHANGE THEME</span>   
			<svg width="28px" height="28px">
				<use class="moon" id="toggle-theme-image" href="./images/icons.svg#moon"></use>
				<use class="sun" id="toggle-theme-image" href="./images/icons.svg#sun"></use>
			</svg>
			<span class="visually-hidden">theme</span>
		</button>
    </div>
  </section>
</header>
