<div class="backdrop_login is-hidden" data-modal-login>
    <div class="modal_login">
        <button type="button" class="modal_login__button" data-modal-close>
            <svg class="modal_login__button_icon" width="18" height="18">
                <use href="./images/sprite/symbol-defs.svg#icon-close-black-18dp-2-1"></use>
            </svg>
        </button>
        <form class="modal_login__form">
            <p class="modal_login__title_signIn">Sign in</p>
            <p class="modal_login__title_signUp visually-hidden">Sign up</p>
            <div class="modal_login__wrap_name visually-hidden">
                <label for="name" class="modal_login__label">Name</label>
                <input type="text" name="name" id="name_1" class="modal_login__input" placeholder=" ">
                <svg width="18" height="18" class="modal_login__icon">
                    <use href="./images/sprite/symbol-defs.svg#icon-person-black-18dp-1"></use>
                </svg>
            </div>
            <div class="modal_login__wrap_email">
                <label for="email_1" class="modal_login__label">E-mail</label>
                <input type="email" name="email" id="email_1" class="modal_login__input" placeholder=" ">
                <svg width="18" height="18" class="modal_login__icon">
                    <use href="./images/sprite/symbol-defs.svg#icon-email-black-18dp-1"></use>
                </svg>
            </div>
            <div class="modal_login__wrap_password">
                <label for="password" class="modal_login__label">Password</label>
                <input type="password" name="password" id="password" class="modal_login__input" placeholder=" ">
                <svg width="17" height="17" class="modal_login__icon">
                    <use href="./images/sprite/symbol-defs.svg#icon-key"></use>
                </svg>
                <button type="button" class="modal_login__button_show_password" id="button_show_password">
                    <svg width="18" height="18" id="icon_show_password">
                        <use href="./images/sprite/symbol-defs.svg#icon-eye"></use>
                    </svg>
                    <svg width="18" height="18" class="visually-hidden" id="icon_un_show_password">
                        <use href="./images/sprite/symbol-defs.svg#icon-eye-blocked"></use>
                    </svg>
                </button>
            </div>
            <div class="modal_login__wrap_checkbox visually-hidden">
                <input type="checkbox" name="checkbox" id="checkbox" class="modal_login__checkbox visually-hidden">
                <label for="checkbox" class="modal_login__text">I agree with newsletter and accept <a href=""
                        class="modal_login__link">Terms of contract</a></label>
            </div>
            <button type="submit" class="modal_login__button_register visually-hidden disabled_for_signUp" disabled>Register</button>
            <button type="submit" class="modal_login__button_confirm">Confirm</button>
            <div class="signUp_now">
                <p class="signUp_now__text">Not a member?</p> <a class="signUp_now__link">Sign up
                    Now</a>
            </div>
            <div class="signIn_now visually-hidden">
                <p class="signIn_now__text">Already a member?</p> <a class="signIn_now__link">Sign in
                    Now</a>
            </div>
        </form>
    </div>
</div>