<!-- <button type="button" class="btn__open-modal poster-list__item">TEST: OPEN MODAL</button> -->
<div class="modal-backdrop">
  <div class="modal">
    <button class="modal__btn-closs btn__closs-modal">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
      </svg>
    </button>
    <div class="modal__movi-poster">
    <img src="./images/placeholder-img.png" alt="placeholder" />
    </div>

    <div class="modal_movi-info">
    <h2 class="modal__title">A FISTFUL OF LEAD</h2>

    <div class="modal__info-card info-card">
      <ul class="info-card__list-parametrs">
        <li class="info-card__item info-card__item-paramter">Vote / Votes</li>
        <li class="info-card__item info-card__item-point">
          <span>7.3</span> <span>/</span> <span>1260</span>
        </li>
        <li class="info-card__item info-card__item-paramter">Popularity</li>
        <li class="info-card__item info-card__item-point">100.2</li>
        <li class="info-card__item info-card__item-paramter">Original Title</li>
        <li class="info-card__item info-card__item-point">A FISTFUL OF LEAD</li>
        <li class="info-card__item info-card__item-paramter">Genre</li>
        <li class="info-card__item info-card__item-point">Western</li>
      </ul>
    </div>

    <div class="modal__about">
      <h3 class="modal__about-title">ABOUT </h3>
      <p class="modal__about-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
    </div>

    <div class="modal__buttons">
      <button type="button" class="modal__watched">add to Watched</button>
      <button type="button" class="modal__queue">add to queue</button>
    </div>
    </div>
  </div>
</div>
