<!-- <div class="pagination-btns">
	<button class="page-btn is-hidden"><img src="./images/arrow-left.svg" class="page-btn__arrow"></button>
	<div class="page is-hidden first">1</div>
	<div class="page is-hidden">2</div>
	<div class="page active">1</div>
	<div class="page">2</div>
	<div class="page">3</div>
	<div class="page">4</div>
	<div class="page">5</div>
	<div class="page">...</div>
	<div class="page last">20</div>
	<button class="page-btn"><img src="./images/arrow-left.svg" class="page-btn__arrow right"></button>
</div> -->

<ul class="pagination-btns">
	<li><button class="page-btn prev"><img src="./images/arrow-left.svg" class="arrow prev"></button></li>
	<li class="page is-hidden"><span>1</li>
	<li class="page is-hidden"><span>...</span></li>
	<li class="page active"><span>1</li>
	<li class="page"><span>2</li>
	<li class="page"><span>3</li>
	<li class="page"><span>4</li>
	<li class="page"><span>5</li>
	<li class="page"><span>...</span></li>
	<li class="page"><span>20</span></li>
	<li><button class="page-btn next"><img src="./images/arrow-left.svg" class="arrow next"></button></li>
</ul>

<!-- <ul class="pagination-btns">
	<li><button class="page-btn prev"><img src="./images/arrow-left.svg" class="arrow prev"></button></li>
	<li class="page"><span>1</li>
	<li class="page"><span>...</span></li>
	<li class="page"><span>13</li>
	<li class="page"><span>14</li>
	<li class="page active"><span>15</span></li>
	<li class="page"><span>16</li>
	<li class="page"><span>17</li>
	<li class="page"><span>...</span></li>
	<li class="page"><span>20</span></li>
	<li><button class="page-btn next"><img src="./images/arrow-left.svg" class="arrow next"></button></li>
</ul> -->