<ul class="pagination-btns">
	<li><button class="page-btn prev"><img src="./images/arrow-left.svg" class="arrow prev"></button></li>
	<li class="page is-hidden"><span>1</li>
	<li class="page is-hidden"><span>...</span></li>
	<li class="page active"><span>1</li>
	<li class="page"><span>2</li>
	<li class="page"><span>3</li>
	<li class="page"><span>4</li>
	<li class="page"><span>5</li>
	<li class="page"><span>...</span></li>
	<li class="page"><span>20</span></li>
	<li><button class="page-btn next"><img src="./images/arrow-left.svg" class="arrow next"></button></li>
</ul>