.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.backdrop_login {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.63);
	position: fixed;
	top: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	background-color: var(--just-white);
	transform: translate(-50%, -50%);
	@include mq(tablet) {
		width: 460px;
	}
	@include mq(desktop) {
		width: 528px;
	}
}
.modal_login__button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: #000000;
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		transform: scale(1.15);
		color: var(--secondary-text-color);
		box-shadow: 0px 8px 43px var(--secondary-text-color);
		border: 1px solid var(--secondary-text-color);
	}
}
.modal_login__button_icon {
	fill: currentColor;
}
.modal_login__title_signIn,
.modal_login__title_signUp {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(30 / 20);
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 12px;
	@include mq(desktop) {
		line-height: calc(23 / 20);
	}
}
.modal_login__wrap_name,
.modal_login__wrap_password,
.modal_login__wrap_tel,
.modal_login__wrap_email {
	position: relative;
	margin-bottom: 15px;
}
.modal_login__label {
	display: block;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: #757575;
	margin-bottom: 4px;
}
.modal_login__input {
	position: relative;
	width: 240px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 30px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@include mq(tablet) {
		width: 320px;
	}
	@include mq(desktop) {
		width: 420px;
	}
}
.modal_login__icon {
	position: absolute;
	top: 28px;
	left: 10px;
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_login__input:hover,
.modal_login__input:focus,
.modal_login__input:hover + .modal_login__icon,
.modal_login__input:focus + .modal_login__icon,
.modal_login__textarea:hover,
.modal_login__textarea:focus {
	fill: var(--secondary-text-color);
	border-color: var(--secondary-text-color);
}
.modal_login__wrap_textarea {
	margin-bottom: 20px;
}
.modal_login__textarea {
	resize: none;
	width: 100%;
	height: 120px;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@media screen and (min-width: 480px) {
		width: 370px;
	}
	@media screen and (min-width: 1200px) {
		width: 448px;
	}
	&::placeholder {
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}
// modal_login__input:not(:placeholder-shown),
// modal_login__textarea:not(:placeholder-shown),
// modal_login__input:not(:placeholder-shown) + .modal_login__icon,
// modal_login__textarea:not(:placeholder-shown) + .modal_login__icon {
// 	fill: var(--acent_color);
// 	border-color: var(--acent_color);
// }
.modal_login__wrap_checkbox {
	margin-bottom: 30px;
}
.modal_login__checkbox:checked + .modal_login__text::before {
	background-image: url(/src/images/kisspng-checkbox-computer-icons-check-mark-text-box-button-kdm-validador-google-pl-5c6cb828869a35.1684763015506289045513.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	width: 20px;
	@include mq(tablet) {
		width: 18px;
		height: 17px;
	}
}
.modal_login__text,
.signUp_now__text,
.signIn_now__text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.03em;
	color: #757575;
	@include mq(tablet) {
		font-size: 12px;
		line-height: calc(20 / 12);
	}
	@include mq(desktop) {
		font-size: 14px;
		line-height: calc(24 / 14);
	}
}
.modal_login__text::before {
	content: "";
	width: 16px;
	height: 15px;
	border: 2px solid #212121;
	border-radius: 2px;
	display: block;
	margin-right: 8px;
}
.modal_login__link {
	display: block;
	margin-left: 3px;
	color: var(--secondary-text-color);
	text-decoration: underline;
}
.modal_login__button_show_password {
	position: absolute;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		fill: var(--secondary-text-color);
	}
}
.modal_login__button_confirm,
.modal_login__button_register {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	padding-right: 55px;
	padding-bottom: 10px;
	padding-left: 56px;
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	cursor: pointer;
	color: var(--secondary-text-color);
	background-color: transparent;
	border: 1px solid var(--secondary-text-color);
	border-radius: 5px;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus,
	&:hover {
		background-color: var(--secondary-text-color);
		box-shadow: 0px 8px 43px var(--secondary-text-color);
		color: var(--just-white);
		}
}
.disabled_for_signUp {
	color: grey;
	border-color: grey;
	&:focus,
	&:hover {
		background-color: grey;
		box-shadow: 0px 8px 43px grey;
		color: var(--just-white);
	}
}
.signUp_now,
.signIn_now {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
.signUp_now__link,
.signIn_now__link {
	color: var(--secondary-text-color);
	cursor: pointer;
	margin-left: 10px;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.03em;
	@include mq(desktop) {
		font-size: 14px;
		line-height: calc(24 / 14);
	}
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus,
	&:hover {
		transform: scale(1.15);
		text-shadow: 0px 4px 10px var(--secondary-text-color);
	}
}
.modal_login--dark {
	background-color: var(--modal-dark-them-bcg);
}
.modal_login--dark .modal_login__input,
.modal_login--dark .modal_login__button {
	background-color: var(--bisquit-color);
}
.modal_login--dark .modal_login__title_signIn,
.modal_login--dark .modal_login__title_signUp,
.modal_login--dark .modal_login__label,
.modal_login--dark .modal_login__text,
.modal_login--dark .signUp_now__text,
.modal_login--dark .signIn_now__text {
	color: var(--bisquit-color);
}
.modal_login--dark .modal_login__button_register,
.modal_login--dark .modal_login__button_confirm {
	&:hover {
		color: var(--bisquit-color);
	}
}
