.pagination-btns {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page {
	font-weight: 500;
	margin-left: 16px;
}

.page.active {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:rgba(255, 107, 8, 1);
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.page-btn{
	padding: 12px;
	border: none;
	border-radius: 5px;
	background-color: rgba(247, 247, 247, 1);
	margin-left: 10px;
}

.page-btn:hover {
	background-color: rgb(230, 230, 230);
}

.is-hidden {
	display: none;
}



.arrow {
	width: 16px;
}

.arrow.next {
	transform: rotate(180deg);
}