.pagination-section {
	margin: 60px 0;
	display: flex;
	justify-content: center;
}

.pagination-btns {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dots {
	padding: 8px;
	margin-left: 8px;
	cursor: default;
}

.page {
	padding: 8px;
	font-weight: 500;
	margin-left: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.page:hover {
	transform: scale(140%);
}

.page.active {
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:rgba(255, 107, 8, 1);
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	transform: none;
}

.page-btn{
	cursor: pointer;
	padding: 12px;
	border: none;
	border-radius: 5px;
	background-color: rgba(247, 247, 247, 1);
	margin-left: 10px;
}

.page-btn:hover {
	background-color: rgb(230, 230, 230);
}

.is-hidden {
	display: none;
}

.arrow {
	width: 16px;
}

.arrow.next {
	transform: rotate(180deg);
}

.pagination-section.dark {
	color: bisque;
}

.pagination-section.dark button {
	background-color: bisque;
}

.pagination-section.dark button:hover {
	background-color: rgba(255, 228, 196, 0.863);
}