body.dark {
    background-color: var(--dark-body-theme);
}

body.light::-webkit-scrollbar {
  width: 20;
}
body.light::-webkit-scrollbar-track {
  background: var(--light-body-theme);
	margin-top: 20px;
	margin-bottom: 100px;
	border-radius: 10px;
	opacity: 0;
}
body.light::-webkit-scrollbar-thumb {
  background: grey;
	border-radius: 10px;
	border: 5px solid var(--light-body-theme);
}

body.dark::-webkit-scrollbar {
  width: 20;
}
body.dark::-webkit-scrollbar-track {
  background: var(--dark-body-theme);
	margin-top: 20px;
	margin-bottom: 100px;
	border-radius: 10px;
	opacity: 0;
}
body.dark::-webkit-scrollbar-thumb {
  background: bisque;
	border-radius: 10px;
	border: 5px solid var(--dark-body-theme);
}

.header__seaction_library,
.header__seaction_home{
	position: relative;
}

#toggle-theme-image {

	width: 28px;
	height: 28px;
}
.text_theme-btn{
	
	position: absolute;
	top: 40px;
	right: 50%;
	transform: translate(50%, -50%);
	color: #fff;
	width: 100px;
	@include mq(desktop) {
		top: 45px;
		right: -5px;
	}
}

#toggle-theme-btn {
	width: 80px;
	height: 10px;
    position: absolute;
    top: 170px;
    right: 50%;
	 //width: 1rem;
	 transform: translate(50%, 50%);
    background-color:transparent;
    border: 2px transparent solid;
   // padding: 1px 3px ;
    //border-radius: 20px;
    //transition: 0.3s;
    //box-shadow: 0 0 5px #c0c0c0;
   @include mq(desktop) {
		position: absolute;
		top: 120px;
		right: 6vw;
		width: 20px;
		background-color:transparent;
		border: 2px transparent solid;
	}
}

#toggle-theme-btn:hover {
    //border: 1px var(--primary-current-color) solid;
    //box-shadow: -1 -1 1px #af5252;
cursor: pointer;
}

.dark .poster-list__title {
    color: bisque;
  }
  
.dark .poster-list__text{
    color: var(--primary-current-color);
  }
  
.dark .poster-list__age {
    color: var(--primary-current-color);
  }