/* Фото картинки */

.poster-list__img,
.poster-lib__img {
  border-radius: inherit;
  height: 402px;
  @include mq(tablet-only) {
    height: 600px;
  }
  @include mq(desktop) {
    height: 600px;
  }
  box-shadow: 0px 3px 4px 1px rgba(44, 133, 200, 0.2);
}

/*  Список */
.poster-list,
.poster-lib {
  display: grid;
  max-width: calc(320px - 40px);
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  // grid-column-gap: 16px;
  grid-row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  justify-content: center;
  @include mq(tablet-only) {
    max-width: calc(768px - 64px);
    grid-template-columns: repeat(2, minmax(336px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include mq(desktop) {
    max-width: calc(1280px - 64px);
    grid-template-columns: repeat(3, minmax(395px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* Итем Списка */
.poster-list__item,
.poster-lib__item {
  display: flex;
  flex-direction: column;
  position: relative;
  break-inside: avoid;
  height: 443px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  @include mq(tablet-only) {
    height: 530px;
  }
  @include mq(desktop) {
    height: 634px;
  }
  border-radius: 10px;
  cursor: pointer;
}
.poster-list__item:hover,
.poster-lib__item:hover {
  transform: scale(1.03) translateZ(0);
  // box-shadow: 0 0 7px 4px #0a56c852;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Див текста */
.poster-list__wrap,
.poster-lib__wrap {
  padding: 10px 10px 0px 10px;
}
.poster-list__title,
.poster-lib__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

/* Рейтинг */
.poster-list__rate,
.poster-lib__rate {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 1px 10px;
  background: #ff6b01;
  border-radius: 10px;
  color: #ffffff;
}

/* Див жанр и год  */
.poster-list__info,
.poster-lib__info {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--acent-modal);
  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.poster-list__text,
.poster-lib__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  color: #ff6b08;
}
.poster-list__age,
.poster-lib__age {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;

  color: #ff6b08;
  margin-left: 5px;
}

.image-error {
  margin: 20px 0;
}
.btn-to-top {
  position: fixed;
  bottom: 3vh;
  right: -140px;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  background-color: var(--just-white);
  color: var(--secondary-text-color);
  // border: 1px solid #000000;
  // background-color: var(--just-white);
  // color: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-to-top:hover {
  animation: animate90 400ms linear 150ms forwards;
  // background-color: #000000;
  // color: var(--just-white);
  background-color: var(--secondary-text-color);
  color: var(--just-white);
}

.btn-to-top--visible {
  right: calc(2.5%);
  opacity: 1;
  visibility: visible;
}

.icon-to-top {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.to_main__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.to_main__text {
  cursor: pointer;
  font-size: 30px;
  line-height: calc(26 / 30);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 21px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }
}

.to_main__icon {
  fill: currentColor;
}

.to_main__link {
  display: inline-block;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-bottom: 22px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    box-shadow: 0px 8px 43px var(--secondary-text-color);
    color: var(--just-white);
  }
}
//placeholder
.list-empty {
  margin: 25px auto;
  position: relative;
  width: auto;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-image: url('../images/maxresdefault.jpg');
  &__shild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #909090;
    padding: 3vw;
    font-size: 1vw;
    text-align: center;
    min-width: 270px;
    border: 10px solid var(--primary-current-color);
  }
  &__title {
    margin: 15px;
    font-size: 2vw;
    color: #ffffff;
  }
}
.btn-to-top--dark {
  background-color: var(--bisquit-color);
  &:hover {
    color: var(--bisquit-color);
  }
}
.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  from {
    opacity: 1; /* Непрозрачный текст */
  }
  to {
    opacity: 0.7; /* Прозрачный текст */
  }
}
