.footer {
  text-align: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 30px;
  

  color: #545454;
  font-size: 16px;
  line-height: 1.19;
}

.footer a {
  text-decoration: underline;
  color: #545454;
}
